body {
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: #83939C;
}

html, body {
  padding:0;
  margin:0;
}

ul {
  margin:0;
  padding:0;
}

body[class*=preset-white] #section-header {
  background-color: #FFF;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left;
}

.container {
  max-width: 1020px !important;
}

.gray-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);
  filter: gray;
}

.bg-white {
  background: #ffffff;
}


// paginate
.page {
  text-align: center;
}
.pagination > li > a, .pagination > li > span {
  color: #b4b4b4;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #e4e4e4;
  border-color: #e4e4e4;
  background-color: transparent;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #b4b4b4;
  background-color: #fff;
  border-color: #e4e4e4;
  cursor: not-allowed;
}