.home {
  .sidebar {
    li {
      padding:15px;
      border-bottom:1px solid #eee;
    }
  }

  .home-page-header {
    height:260px;
    text-align: center;
    position: relative;
    padding-top:60px;

    .avatar {
      img {
        width: 80px;
        height:80px;
        border-radius: 5px;
      }
    }

    p.page-title {
      font-size:18px;
    }
  }

  .main-content {
    min-height: 500px;
  }

  .user-wxapp-list {
    .wxapp-item {
      margin-bottom: 15px;

      .icon {
        float: left;

        img {
          width: 60px;
          height: 60px;
        }
      }

      .info {
        float: left;
        margin-left:20px;

        h3 {
          font-size:14px;
          margin:5px 0;
          padding:0;
        }
      }
    }
  }
}