
.wxapp-nav {
  border-bottom: 1px solid #f2f2f2;
  background: #ffffff;

  .row {
    margin:0 -10px;
  }

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    float: left;
    font-size: 14px;
    overflow: hidden;
    text-align: center;

    padding:10px 10px;

    a {
      color: #83939C;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
    }
  }

  li.active {
    a {
      color: #333;
      border-bottom: 2px solid #333;
    }
  }
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    z-index: 9;
    margin: auto;
    width: 100%;
    text-align: center;

    color: #333;
    bottom: 16%;
  }

  h1 {
    font-size: 3em;
    font-weight: 400;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    background: #444;
    padding: 10px 0px;
    width: 160px;
    margin: auto;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  h2 a {
    color: #ffffff;
    font-weight: 400;
  }
}

.app-lists {
  margin-top: 30px;

  .app-item {
    background: #ffffff;
    text-align: center;
    margin-bottom: 20px;

    .likes {
      padding: 10px;
      padding-bottom: 0;
      font-size: 12px;

      //.btn-cx {
      //    padding: 4px 10px;
      //    font-size:12px;
      //}

      .qrcode {
        color: #333;
        font-size: 20px;
        line-height: 1em;
      }
    }

    .icon {
      text-align: center;
    }

    .icon img {
      width: 120px;
      height: 120px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .rating {
      .line {
        display: inline-block;
        width: 14%;
        height: 6px;
        border-top: 1px solid #eee;
        margin: 0 6px;
      }
    }

    .tags {
      margin-bottom: 15px;
      margin-top: 12px;

      span {
        display: inline-block;
        padding: 0px 10px;
        background: #EEEEEE;
        font-size: 12px;
        font-weight: 400;
        margin: 3px;
      }
    }
  }
}

.app-detail {
  margin: 30px 0;

  .app-main-left {
    background: #ffffff;
    min-height: 600px;
  }

  .app-info {
    padding: 20px;

    .icon img {
      width: 120px;
    }

    .info {
      margin-left: 30px;

      h1 {
        font-size: 1.4em;
        color: #333;
        margin: 0;
        margin-bottom: 20px;
      }

      .tags {
        margin-top: 10px;
      }

      .tags span {
        display: inline-block;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 400;
        background: #EEEEEE;
        margin-right: 5px;
      }
    }

    .rating {
      font-size: 12px;
      width: 150px;
      text-align: right;

      .numbers {
        display: inline-block;
        margin-right: 3px;
        margin-left: 5px;
      }
    }
    .rating > div {
      display: inline-block;
    }
  }

  .screen-shots {
    width: 695px;
    overflow-x: auto;
    white-space: nowrap;

    .images-list {
      width: 100%;

      ul li {
        display: inline-block;
        padding-bottom: 10px;

        img {
          max-height: 320px;
          padding: 10px;
        }
      }
    }
  }

  .app-comments {

    // 分数与星星
    .score-container {
      text-align: center;
      padding-top: 20px;
    }

    .score-container .score {
      color: #333;
      font-size: 48px;
      font-weight: 100;
      line-height: 1.2em;
      margin-bottom: 10px;
    }

    .score-container-star-rating {
      height: 24px;
      margin: 0 0 8px 2px;
    }

    .score-container .reviews-stats {
      color: #8d8d8d;
    }

    // 评分条
    .rating-histogram {
      width: 200px;
    }

    .rating-histogram {
      padding: 20px 20px 20px 30px;
    }
    .rating-bar-container {
      margin-bottom: 2px;
    }

    .rating-box .rating-bar-container {
      color: #737373;
      height: 23px;
      font-weight: 400;
      position: relative;
      width: 100%;
    }

    .rating-bar-container .bar {
      opacity: .8;
      filter: alpha(opacity=80);
      -webkit-transition: width .25s ease;
      transition: width .25s ease;
      display: inline-block;
      height: 100%;
    }

    .rating-box .bar-label {
      font-size: 11px;
      left: -28px;
      letter-spacing: 1px;
      position: absolute;
      top: 4px;
    }

    .rating-box .bar-label .star-tiny {
      left: -2px;
      position: relative;
      top: -2px;
    }

    .rating-box .bar-number {
      color: #333;
      font-size: 11px;
      left: 5px;
      position: absolute;
      top: 4px;
    }

    .rating-bar-container.five .bar {
      background: #88b131;
    }
    .rating-bar-container.four .bar {
      background: #99cc00;
    }
    .rating-bar-container.three .bar {
      background: #ffcf02;
    }
    .rating-bar-container.two .bar {
      background: #ff9f02;
    }
    .rating-bar-container.one .bar {
      background: #ff6f31;
    }
  }

  // 侧边栏
  .app-hot-list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul li {
      margin-bottom: 15px;

      img {
        width: 60px;
        height:60px;
        float: left;
        margin-right: 10px;
      }

      .title {
        padding-top: 5px;
      }
    }
  }
}

.box {
  .box-header {
    height: 46px;
    padding-top: 10px;
    //background: rgba(245, 248, 250, 0.6);
    background: #ffffff;
    padding-left: 20px;
    border-bottom: 1px solid #eee;

    h2 {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      color: #333;
      line-height: 35px;
      border-bottom: 1px solid #444;
      margin: 0;
    }
  }

  .box-content {
    padding: 20px;
    background: #ffffff;
  }
}

